body{
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-family: 'Slabo 30px', serif;
    background-color: rgb(233, 235, 233);    
}

[class*="title"]{
    color: #ef6091;
    font-size: 25px;
    text-align: center;
    padding: 10px;

}