
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

[class*="title"]{
    color: #ef6091;
    font-size: 20px;

}
.abautme{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}
.title{
    margin-top: 30px;
    display: flex;
    justify-content: center;

}

.abautme__img{
    width: 30%;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    
}
.abautme__img-logo{
    height: 300px;
    border-radius: 10px;
}

 .information{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    


   
} 

.information__me{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    
}

.stadies{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}

