




.title{
    margin-top: 30px;
    display: flex;
    justify-content: center;

}


.abautme__img-logo{
    width: 30%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
    
}

 
.information__me{
    width: 300px;
    text-align: left;
    
}

.stadies{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
 
